<html>
    <head>
        <title>Reset page</title>
    </head>
    <style>
        body{
            background-color:#9F000F;
        }
        .form{
            padding:450px;
            padding-top:95px;
            padding-bottom:45px;
            color:white;
        }
    </style>
    <body>
        <div class="form">
        <form method="POST">
            <label>Enter email:</label>
            <input type="text" name="email" required></br>
            <label>Enter new password:</label>
            <input type="text" name="new_password" required></br>
            <input type="Submit" value="Reset">
            <p>Dont rememeber email?<a href="mailto:denzilroyi@gmail.com ? Subject=Contact for support">Contact @support</a></p>
        </div>
        </form>
    </body>
</html>